<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello customer!</h1>
    <p>
    Your Jungle order has been successfully placed.<br>
    Here it is: <br>
    </p>
    <p>
      <% @order.line_items.each do |item| %>
        <%= render 'orders/item', item: item %>
      <% end %>

      <h3>Total: $<%= Money.new(@order.total_cents, 'USD') %></h3>
    </p>
    <p>Thanks for ordering and have a great day!</p>
  </body>
</html>