<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello customer!</h1>
    <p>
    Your Jungle order has been successfully placed.<br>
    Here it is: <br>
    </p>
    <p>
      Orders here...
    </p>
    <p>Thanks for ordering and have a great day!</p>
  </body>
</html>